body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}
/* app.css or index.css */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
